[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
jpeg4py = "*"
tqdm = "*"
matplotlib = "*"
opencv-python-headless = "*"
timm = "*"
tensorboard = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
